
<div class="flex flex-col items-center justify-between gap-4 sm:flex-row mt-2">
  <input
  hlmInput
  class="w-full md:w-80"
  placeholder="Search name..."
  [ngModel]="filter()"
  (ngModelChange)="rawFilterInput.set($event)"
/>

<button hlmBtn variant="normalOutline" align="end" [brnMenuTriggerFor]="menu">
  Columns
  <hlm-icon name="lucideChevronDown" class="ml-2" size="sm" />
</button>
<ng-template #menu>
  <hlm-menu class="w-32">
    @for (column of columnManager.allColumns; track column.name) {
    <button
      hlmMenuItemCheckbox
      [disabled]="columnManager.isColumnDisabled(column.name)"
      [checked]="columnManager.isColumnVisible(column.name)"
      (triggered)="columnManager.toggleVisibility(column.name)"
    >
      <hlm-menu-item-check />
      <span>{{ column.label }}</span>
    </button>
    }
  </hlm-menu>
</ng-template>
</div>


<brn-table
hlm
stickyHeader
class="border-border mt-4 block h-fit  max-h-[400px] md:max-h-[500px] overflow-auto rounded-md border"
[dataSource]="filteredSortedPaginatedTeam()"
[displayedColumns]="allDisplayedColumns()"
[trackBy]="trackBy"
>
<brn-column-def name="name" class="w-40">
  <hlm-th *brnHeaderDef>
    Name
  </hlm-th>
  <hlm-td *brnCellDef="let element">
    {{ element.firstName | titlecase }}
  </hlm-td>
</brn-column-def>
<brn-column-def name="imageSrc" class="w-40">
  <hlm-th *brnHeaderDef> Image Src </hlm-th>
  <hlm-td truncate *brnCellDef="let element">
  {{ element.imageSrc }}
  </hlm-td>
</brn-column-def>
<brn-column-def name="units" class="w-40 flex-1">
  <hlm-th *brnHeaderDef> Units </hlm-th>
  <hlm-td *brnCellDef="let element">
    {{ element.units.length }}
  </hlm-td>
</brn-column-def>
@if(isAdmin()){
  <brn-column-def name="actions" class="w-16">
    <hlm-th *brnHeaderDef></hlm-th>
    <hlm-td *brnCellDef="let element">
      <button
        hlmBtn
        variant="normal"
        class="h-6 w-6 p-0.5"
        align="end"
        [brnMenuTriggerFor]="menu"
      >
        <hlm-icon class="w-4 h-4" name="lucideMoreHorizontal" />
      </button>
  
      <ng-template #menu>
        <hlm-menu>
          <hlm-menu-label>Actions</hlm-menu-label>
          <hlm-menu-separator />
          <hlm-menu-group>
            <button hlmMenuItem >
              <hlm-icon hlmMenuIcon name="lucideEdit" />
              Settings
            </button>
          </hlm-menu-group>
          <hlm-menu-separator />
          <hlm-menu-group>
            <button
              hlmMenuItem
              class="bg-rose-500 hover:bg-rose-500/90 text-white"
            >
              <hlm-icon hlmMenuIcon name="lucideTrash2" />
              Delete
            </button>
          </hlm-menu-group>
        </hlm-menu>
      </ng-template>
    </hlm-td>
  </brn-column-def>
}
<div
  class="flex items-center justify-center p-20 text-muted-foreground"
  brnNoDataRow
>
  No data
</div>
</brn-table>
<div
class="flex flex-col justify-between mt-4 sm:flex-row sm:items-center"
*brnPaginator="
  let ctx;
  totalElements: totalElements();
  pageSize: pageSize();
  onStateChange: onStateChange
"
>
<span class="text-sm text-muted-foreground"
  >Showing {{ displayedIndices().start }} -
  {{ displayedIndices().end + 1 }} of {{ totalElements() }} row(s).</span
>
<div class="flex mt-2 sm:mt-0">
  <brn-select
    class="inline-block"
    placeholder="{{ availablePageSizes[0] }}"
    [(ngModel)]="pageSize"
  >
    <hlm-select-trigger class="inline-flex mr-1 w-15 h-9">
      <hlm-select-value />
    </hlm-select-trigger>
    <hlm-select-content>
      @for (size of availablePageSizes; track size) {
      <hlm-option [value]="size">
        {{ size === 10000 ? "All" : size }}
      </hlm-option>
      }
    </hlm-select-content>
  </brn-select>

  <div class="flex space-x-1">
    <button
      size="sm"
      variant="normalOutline"
      hlmBtn
      [disabled]="!ctx.decrementable()"
      (click)="ctx.decrement()"
    >
      Previous
    </button>
    <button
      size="sm"
      variant="normalOutline"
      hlmBtn
      [disabled]="!ctx.incrementable()"
      (click)="ctx.increment()"
    >
      Next
    </button>
  </div>
</div>
</div>