<footer class="hidden lg:block h-20 w-full border-t-2 border-slate-200 p-2">
  <div class="max-w-screen-lg mx-auto flex items-center justify-evenly h-full">
    <button hlmBtn size="lg" variant="ghost" class="w-full">
      <img
        src="/images/hr.svg"
        alt="Croatian"
        height="32"
        width="40"
        class="mr-4 rounded-md"
      />
      Croatian
    </button>
    <button hlmBtn size="lg" variant="ghost" class="w-full">
      <img
        src="/images/es.svg"
        alt="Spanish"
        height="32"
        width="40"
        class="mr-4 rounded-md"
      />
      Spanish
    </button>
    <button hlmBtn size="lg" variant="ghost" class="w-full">
      <img
        src="/images/fr.svg"
        alt="French"
        height="32"
        width="40"
        class="mr-4 rounded-md"
      />
      French
    </button>
    <button hlmBtn size="lg" variant="ghost" class="w-full">
      <img
        src="/images/it.svg"
        alt="Italian"
        height="32"
        width="40"
        class="mr-4 rounded-md"
      />
      Italian
    </button>
    <button hlmBtn size="lg" variant="ghost" class="w-full">
      <img
        src="/images/jp.svg"
        alt="Japanese"
        height="32"
        width="40"
        class="mr-4 rounded-md"
      />
      Japanese
    </button>
  </div>
</footer>
