@if(imageSrc()) {
<div [class]="hlm('relative aspect-square mb-4 max-h-[80px] lg:max-h-[150px] w-full', audioLoading() && 'cursor-wait')">
  <img [src]="imageSrc()" [alt]="text()" class="object-fill" />
</div>
}
<div
  [class]="
    hlm(
      'flex items-center justify-between',
      type() === 'ASSIST' && 'flex-row-reverse'
    )
  "
>
  @if(type() === 'ASSIST'){
  <div></div>
  }
  <p
    [class]="
      hlm(
        'text-neutral-600 text-sm lg:text-base',
        selected() && 'text-sky-500',
        selected() && status() === 'correct' && 'text-green-500',
        selected() && status() === 'wrong' && 'text-rose-500'
      )
    "
  >
    {{ text() }}
  </p>
  <div [class]="hlm(
  'lg:w-[30px] lg:h-[30px] w-[20px] h-[20px] border-2 flex items-center justify-center rounded-lg text-neutral-400 lg:text-[15px] text-xs font-semibold',
        selected() && 'border-sky-300 text-sky-500',
        selected() && status() === 'correct' && 'border-green-500 text-green-500',
        selected() && status() === 'wrong' && 'border-rose-500 text-rose-500'
  )">{{shortcut()}}</div>
</div>
