<div class="pt-8 pl-4 pb-10">
  <div class="flex items-center gap-x-3 cursor-default">
    <img
      src="/images/mascot.svg"
      loading="lazy"
      height="40"
      width="40"
      alt="mascot"
    />
    <div class="relative flex flex-col">
      <h1 class="text-2xl font-extrabold text-green-600 tracking-wide">
        Liguify
      </h1>
      <span class="text-sky-500 text-sm font-semibold absolute right-1 -bottom-3">Admin</span>
    </div>
  </div>
</div>

<div class="flex flex-col gap-y-2 flex-1 px-4">
  <app-sidebar-item
    label="dashboard"
    link="/admin/dashboard"
    iconSrc="/images/dashboard.png"
  />
  <app-sidebar-item
    label="courses"
    link="/admin/courses"
    iconSrc="/images/book.png"
  />
  <app-sidebar-item
    label="units"
    link="/admin/units"
    iconSrc="/images/units.png"
  />
  <app-sidebar-item
    label="lessons"
    link="/admin/lessons"
    iconSrc="/images/lesson.png"
  />
  <app-sidebar-item
    label="challenges"
    link="/admin/challenges"
    iconSrc="/images/challenges.png"
  />
  <app-sidebar-item
    label="challenge options"
    link="/admin/challenge-options"
    iconSrc="/images/options.png"
  />
  <app-sidebar-item
    label="team"
    link="/admin/team"
    iconSrc="/images/team.png"
  />
</div>
