@if (loading) {
  <app-loading />
} @else {
  <div class="flex flex-row-reverse gap-[48px] px-6">
    <app-sticky-wrapper>
      <app-user-progress
        [activeCourse]="userProgress.activeCourse"
        [hearts]="userProgress.hearts"
        [points]="userProgress.points"
        [hasActiveSubscription]="!!userSubscription?.isActive"
      />
      @if (!!!userSubscription?.isActive) {
        <app-promo />
      }
      <app-quests-component [points]="userProgress.points" />
    </app-sticky-wrapper>
    <app-feed-wrapper>
      <div class="flex w-full flex-col items-center">
        <img
          src="/images/leaderboard.svg"
          alt="Leaderboard"
          height="90"
          width="90"
        />
        <h1 class="my-6 text-center text-2xl font-bold text-neutral-800">
          Leaderboard
        </h1>
        <p class="mb-6 text-center text-lg text-muted-foreground">
          See where you stand among other learners in the community.
        </p>
        <brn-separator hlmSeparator class="mb-4 h-0.5" />
        @for (
          progress of leaderboard;
          track progress.userId;
          let index = $index
        ) {
          <div
            [class]="
              hlm(
                'flex w-full items-center rounded-xl p-2 px-4 text-lime-700 hover:bg-gray-200/50',
                isCurrentUser(progress.userId!) &&
                  'bg-sky-100 text-sky-700 hover:bg-sky-200'
              )
            "
          >
            <p class="mr-4 font-bold">
              {{ index + 1 }}
            </p>
            <hlm-avatar class="ml-3 mr-6 h-12 w-12 border bg-green-500">
              <img
                [src]="progress.user?.avatarUrl"
                alt="Avatar"
                hlmAvatarImage
                class="object-cover"
              />
              <img src="/images/man.svg" alt="user image" hlmAvatarFallback />
            </hlm-avatar>
            <p
              [class]="
                hlm(
                  'flex flex-1 items-center gap-2 font-bold text-neutral-800',
                  isCurrentUser(progress.userId!) && 'text-sky-700'
                )
              "
            >
              {{ progress.user?.userName }}
              @if (isCurrentUser(progress.userId!)) {
                <span class="text-xs font-light italic">(you)</span>
              }
            </p>
            <p
              [class]="
                hlm(
                  'text-muted-foreground',
                  isCurrentUser(progress.userId!) && 'text-sky-700'
                )
              "
            >
              {{ progress.points }} XP
            </p>
          </div>
        }
      </div>
    </app-feed-wrapper>
  </div>
}
